@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + React</title>
    @(await Html.RenderComponentAsync<website_test.Components.TestInput>(RenderMode.Server)); 

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap">
    <style>
/*         body {
            margin: 0;
            padding: 0;
        } */

        .black-box {
            
            background-color: transparent;
            color: white;
            padding: 20px;
            font-family: 'Press Start 2P';
            z-index: 2;
            position: fixed;
            top:0;
            left:0;
            right:0;

            display: flex;
            padding: 20px; /* space around content */

            flex-direction: row; /* Align items in a row */
        }

        .black-box button, .black-box select {
            background-color: black;
            color: white;
            padding: 10px 20px;
            border: none;
            position: relative;
            cursor: pointer;
            margin-right: 10px;
            z-index: 2;
        }

        .black-box select {
            appearance: none;
            position: relative;
            background-color: black;
            color: white;
            border-radius: 0;
            font-family: 'Press Start 2P' ;
            padding: 10px 20px;
            z-index: 2;
            cursor: pointer;
        }

        canvas {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }

    </style>
</head>
<body>
    <div class="black-box">
        &lt;Directory&gt;
        <button>Show Git</button>
        <button>Show About Me</button>
        <select id="coolThingsDropdown">
            <option value="">Show Cool Things</option>
            <option value="/rpg/">RPG</option>
            <option value="/AnotherPage/">Option 2</option>
            <!-- Add more options as needed -->
        </select>
    </div>


    <script type="text/javascript">
        document.getElementById('coolThingsDropdown').addEventListener('change', function () {
            var selectedValue = this.value;
            if (selectedValue) {
                window.location.href = selectedValue;
            }
        });
    </script>



</body>
</html>

<div id="root"></div>

<script type="module" crossorigin src="/js/animation/assets/index-0-ngzi7s.js"></script>
<link rel="stylesheet" crossorigin href="/js/animation/assets/index-g-bggSZF.css">
